@media screen and (max-width: 39.9375em) {
    .spacer-bar {
        display: none;
    }
}

@media screen and (min-width: 64em) {
    body {
        overflow: auto;
    }
}

.orbit-caption {
    text-align: center;
}

/* footer {
    margin-top: 0!important;
} */